*{
  background-color: lightyellow;
  text-align: center;
}
h2{
  color: white;
  text-align: center;
  font-size: 30px;
  background-color: black;
}
h2:visited {
  color: #B8255F;
  background-color: darkred;
}
h2:hover {
  color: blue;
  background-color: blueviolet;
}
h2:active {
  color: yellow;
  background-color: yellowgreen;
}

h5:link{
  color: #FF0000;
}
h5:visited {
  color: #B8255F;
  background-color: darkred;
}
h5:hover {
  color: #FAD000;
  background-color: blue;
}
h5:active {
  color: #299438;
  background-color: #CCAC93;
}

p:link{
  color: blue;
  background-color: yellow;
}
p:visited{
  color: rgb(19, 55, 109);
 background-color: blue;
}
p:hover{
  color: rebeccapurple;
  background-color: rgb(67, 130, 33);
}
p:active{
  color: yellow;
  background-color: salmon;
}
h1{
  font-size: 20px;
}
h1:link{
  color: blue;
  background-color: yellow;
}
h1:visited{
  color: red;
 background-color: blue;
}
p:visited{
  color: red;
 background-color: blue;
}
h1:hover{
  color: rebeccapurple;
  background-color: red;
}
h1:active{
  color: rgb(19, 186, 202);
  background-color: rgb(116, 3, 78);
}
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  cursor: pointer;
}

button:link{
  color: rgb(95, 95, 238);
  background-color: rgb(12, 120, 52);
}
button:visited{
  color: rgb(239, 91, 65);
 background-color: blue;
}
button:hover{
  color: rgb(100, 211, 245);
  background-color: rgb(83, 171, 24);
}
button:active{
  color: yellow;
  background-color: rgb(44, 36, 35);
}
